/* W:1920,H:1080*/
* {box-sizing: border-box;}
nav {
   overflow: hidden;
  background: #0F8DD6 0% 0% no-repeat padding-box;
    opacity: 1;
}
a{
    color:black;
}
.links {
    font: normal normal normal 14px/18px Open Sans;
   float: left;
   letter-spacing: 0px;
   color: #FFFFFFDE;
   opacity: 1;
   text-align: left;
   padding: 12px;
   text-decoration: none;
   line-height: 25px;
   border-radius: 4px;
}
nav .logo {
   opacity: 1;
    padding-left: 6.5%;
}
nav .links:hover {
   background-color: rgb(42, 10, 94);
    font: normal normal bold 14px/18px Open Sans;
}
nav .selected {
   font: normal normal 800 14px/18px Open Sans;
    line-height: 25px;
}
.rightSection {
   float: right;
    margin-top: 1%;

}
@media screen and (max-width: 870px) {
   nav .links {
      float: none;
      display: block;
      text-align: left;
   }
   .rightSection {
      float: none;
   }
}






.header{
    width: 100%;

    background: #0F8DD6 0% 0% no-repeat padding-box;
    opacity: 1;
}

.enirisst_logo{
    padding-left: 6.4%;
    width: 10.21%;
/* UI Properties */
    opacity: 1;
}

.menu_item{
    letter-spacing: 0px;
    color: #FFFFFFDE;
    opacity: 1;
    text-align: left;
     position: relative;
     top: -30px;

}

#menu1{
left:50%

}

#menu2{
left:55%


}

#menu3{
left:60%
}

.text_format_normal {
    /* UI Properties */
    font: normal normal normal 14px/18px Open Sans;
}

.text_format_bold {
    /* UI Properties */
    font: normal normal 800 14px/18px Open Sans;
}