.gs-bg{
    background-color: #F9FAFB;
    overflow-wrap: break-word;
}

.text_header {
    /* UI Properties */
    font: normal normal bold 46px Open Sans;
    color:#000000DE;
    padding-left: 14%;
    padding-top: 14%;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

}

.year_selector_help{
   font: normal normal bold 12px Open Sans;
    text-align: left;
     color: #8D939C;
    opacity: 1;
    white-space: nowrap;
    margin-top: 1%;
   margin-left:21%;
}
