.bg1 {
    height: 196px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 74%;
    margin:2% auto auto auto;

}

.bg2{
    height: 169px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 74%;
    margin:2% auto auto auto;
}
.bg3{
    height: 84px;
    background-color: #FFFFFF;
    opacity: 1;
    width: 74%;
    margin:2% auto auto auto;
}


.intro-header{

   font: normal normal bold 24px Open Sans;
    text-align: left;
     color: #001234;
    opacity: 1;
}

.intro-h1{
    padding-left: 11%;
    padding-top: 19%;
}


.intro-content{

   font: normal normal normal 16px Open Sans;
    text-align: left;
     color: #001234;
    opacity: 1;
}