.creators-bg {
    background: transparent url('creators-bg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 1080px;

}
.creators-h1{
    opacity: 1;
    color:#001234DE;
    font: normal normal bold 38px Open Sans;
    padding-top: 40%;
    padding-left: 6.5%;
    width: 100%;

}
.creators-content{
    opacity: 1;
    color:#45474D;
    font: normal normal normal 16px Open Sans;
    padding-top: 3%;
    padding-left: 6.5%;
    width: 100%;
}

.creators-content-annotated{
    color:#B1B6ED;
}
.creators-icon-bg{
    margin-top: 15%;
    margin-right:15%;
    background-color: #ffff;
    /*background: transparent url('creators-bg.png') 0% 0% no-repeat padding-box;*/
    opacity: 1;
    float:right;


}

.logogroup{
     background-color: #ffff;
}