#select_header{
    font: normal normal bold 16px Open Sans;
    text-align: left;
     color: #45474D;
    opacity: 1;
    padding-top: 5%;
}

#border_form_view{
    border: 1px solid #DDE1E6;
    border-radius: 2px;
    display: table;
    position: relative;
    z-index: 1200;
}

#search_btn_txt{
    font: normal normal normal 16px Open Sans;
    color:#FFFFFF;
    opacity: 1;
}